<template>
  <div class="bg">
    <div class="bg-stupid">
      <v-container grid-list-xs>
        <v-row
          class="fill-height"
          justify="center"
          align="center"
        >
          <v-col
            align="center"
            col="12"
            xs="12"
            sm="6"
            md="4"
          >
            <div class="relativeMake">
              <v-card
                elevation-12
                reactive
                max-width="350"
              >
                <v-container>
                  <div
                    class="px-5"
                    style="margin-top: 80px;"
                  >
                    <v-form ref="loginForm">
                      <v-text-field
                        prepend-inner-icon="mdi-account-circle"
                        :rules="nameRules"
                        name="username"
                        label="Username"
                        solo
                        rounded
                      ></v-text-field>
                      <v-tooltip
                        color="blue lighten-5"
                        v-model="tooltip"
                        right
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                            :type="show ? 'text' : 'password'"
                            :rules="passwordRules"
                            @click:append="show = !show"
                            @focus.capture="tooltip = true"
                            @blur="tooltip = false"
                            prepend-inner-icon="mdi-lock"
                            name="password"
                            label="Password"
                            v-model="password"
                            solo
                            rounded
                          ></v-text-field>
                        </template>
                        <div
                          v-for="(message,index) in errorMessages"
                          :key="index"
                        >
                          <span :style="message.color">{{message.text}}</span></div>
                      </v-tooltip>
                    </v-form>
                    <v-btn
                      @click="login"
                      class="mb-3"
                      color="primary"
                      small
                      block
                      rounded
                    >login</v-btn>
                  </div>
                </v-container>
              </v-card>
              <div class="absoluteMake">
                <v-avatar
                  size="150"
                  absolute
                >
                  <img
                    src="../../public/user.png"
                    style="border: 6px solid white;"
                    alt="alt"
                  >
                </v-avatar>
              </div>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </div>

    <v-snackbar
      :top="$vuetify.breakpoint.xsOnly || $vuetify.breakpoint.smAndUp"
      :right="$vuetify.breakpoint.smAndUp"
      color="error"
      v-model="snackbar"
      :timeout="6000"
    >
      Incollect data please check.
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-snackbar>

  </div>
</template>
<script>
export default {
  data: () => ({
    errorMessages: [],
    tooltip: false,
    snackbar: false,
    username: '',
    password: '',
    show: false,
    nameRules: [
      v => !!v || 'Username is required'
      // v => (!!v && v.length >= 10) || 'Username must be more than 10 characters'
    ],
    passwordRules: [
      v => !!v || 'Password is required'
      // v => (!!v && v.length >= 8) || 'Password must be more than 8 characters'
    ]
  }),
  watch: {
    password (value) {
      var newStr = value.replace(/ /g, '')
      this.password = newStr
      var regexUp = /^(?=.*[A-Z])/
      var regexLow = /^(?=.*[a-z])/
      var regexNumber = /^(?=.*[0-9])/
      //   var regexSpecial = /^(?=.*[!@#\$%\^&\*])/
      //   var regexSpace = /^\s/
      //   if ((value.length > 0) &&
      //     (value.length >= 8) &&
      //     ((regexUp.test(value))) &&
      //     ((regexLow.test(value))) &&
      //     ((regexNumber.test(value)))
      //     // ((regexSpecial.test(value)))
      //   ) {
      //     this.tooltip = false
      //   } else {
      var regexThai = /^(?=.*[ก-ฮ])/
      if ((regexThai.test(value))) {
        const filter = this.errorMessages.findIndex(arr => {
          return arr.text === 'ห้ามมีตัวอักษรภาษาไทย'
        })
        if (filter === -1) {
          this.errorMessages.push({ text: 'ห้ามมีตัวอักษรภาษาไทย', color: 'color:red' })
        }
      }
      if (!(regexThai.test(value))) {
        var index = this.errorMessages.findIndex(x => x.text === 'ห้ามมีตัวอักษรภาษาไทย')
        if (index !== -1) {
          this.errorMessages.splice(index, 1)
        }
      }
      if (value.length > 0) {
        let index = this.errorMessages.findIndex(x => x.text === 'ห้ามว่าง')
        this.errorMessages[index].color = 'color:green'
      } else {
        let index = this.errorMessages.findIndex(x => x.text === 'ห้ามว่าง')
        this.errorMessages[index].color = 'color:red'
      }
      if (value.length > 8) {
        let index = this.errorMessages.findIndex(x => x.text === 'ต้องมีความยาวมากกว่า 8 ตัวอักษร')
        this.errorMessages[index].color = 'color:green'
      } else {
        let index = this.errorMessages.findIndex(x => x.text === 'ต้องมีความยาวมากกว่า 8 ตัวอักษร')
        this.errorMessages[index].color = 'color:red'
      }
      if ((regexUp.test(value))) {
        let index = this.errorMessages.findIndex(x => x.text === 'ตัวพิมพ์ใหญ่อย่างน้อย 1 ตัวอักษร')
        this.errorMessages[index].color = 'color:green'
      } else {
        let index = this.errorMessages.findIndex(x => x.text === 'ตัวพิมพ์ใหญ่อย่างน้อย 1 ตัวอักษร')
        this.errorMessages[index].color = 'color:red'
      }
      if ((regexLow.test(value))) {
        let index = this.errorMessages.findIndex(x => x.text === 'ตัวพิมพ์เล็กอย่างน้อย 1 ตัวอักษร')
        this.errorMessages[index].color = 'color:green'
      } else {
        let index = this.errorMessages.findIndex(x => x.text === 'ตัวพิมพ์เล็กอย่างน้อย 1 ตัวอักษร')
        this.errorMessages[index].color = 'color:red'
      }
      if ((regexNumber.test(value))) {
        // eslint-disable-next-line
        let index = this.errorMessages.findIndex(x => x.text == 'ตัวเลขอย่างน้อย 1 ตัว')
        this.errorMessages[index].color = 'color:green'
      } else {
        let index = this.errorMessages.findIndex(x => x.text === 'ตัวเลขอย่างน้อย 1 ตัว')
        this.errorMessages[index].color = 'color:red'
      }
      // if (!(regexSpecial.test(value))) {
      //   this.errorMessages.push('อักขระพิเศษอย่างน้อย 1 ตัวอักษร')
      // }
      //   }
    }
  },
  methods: {
    login () {
      let regexPassword = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/
      if (!this.$refs.loginForm.validate() || !regexPassword.test(this.password)) {
        this.snackbar = true
      }
    }
  },
  created () {
    this.errorMessages = [
      { text: 'ห้ามว่าง', color: 'color:red' },
      //   { text: 'อักขระพิเศษอย่างน้อย 1 ตัวอักษร', color: 'color:red' },
      { text: 'ตัวเลขอย่างน้อย 1 ตัว', color: 'color:red' },
      { text: 'ตัวพิมพ์เล็กอย่างน้อย 1 ตัวอักษร', color: 'color:red' },
      { text: 'ตัวพิมพ์ใหญ่อย่างน้อย 1 ตัวอักษร', color: 'color:red' },
      { text: 'ต้องมีความยาวมากกว่า 8 ตัวอักษร', color: 'color:red' }]
  }
}
</script>
<style scoped>
.v-card {
  border-radius: 20px;
}
.fill-height {
  height: 100vh;
}
.bg {
  position: relative;
  background-image: url("../../public/polygon.png");
  height: 100%;
}
.bg-stupid {
  position: relative;
  height: 100%;

  background: rgba(255, 255, 255, 0.93);
}

.relativeMake {
  position: relative;
  width: 100%;
}

.absoluteMake {
  position: absolute;
  width: 50%;
  top: -70px;
  right: 25%;
}
</style>
